/* 공통 */
body {
    font-size: 16px;
}
html,body {
    max-width: 100vw;
    width: 100%;
    height: auto;
}
main {
    max-width: 100vw;
    width: 100%;
}
*{
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline-style: none;
    color: #fff;
}
a:focus {
    outline: 1px solid #0066B1;
}
li {
    list-style: none;
}
input[type="text"] {
    width: 740px;
    height: 25px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    margin: 0;
}
input[type="text"]:focus {
    outline: none;
    caret-color: #ffffff;
    color: #ffffff;
}
button {
    background: inherit;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
}
.slick-arrow {
    position: absolute;
}
.flex_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.show {
    display: block;
}
.noshow {
    display: none;
}
@keyframes img_scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    /* header */
    .header_box {
        width: 100vw;
        height: 97px;
        margin: 0 auto;
        position: absolute;
        z-index: 1;
    }
    .header_box > .header_ul {
        width: 100vw;
        height: 78px;
        padding: 0;
    }
    .search {
        display: none;
    }
    
    .header_box > .header_search_ul {
        width: 100vw;
        height: 78px;
        padding: 0;
    }
    .header_ul > .header_li {
        display: block;
        padding: 10px 17px 10px 17px;
    }
    .header_ul > .tab_menu_li {
        display: none;
    }
    .header_li > a {
        font-size: 18px;
    }
    .tab_menu_li > .tab_menu_a {
        display: none;
    }
    .tab_menu_a > .tab_menu {
        display: none;
    }
    .header_li_active {
        border-bottom: 1px solid blue;
        color: blue;
    }
    .search_box {
        width: 706px;
        height: 30px;
    }
    .search_box > form {
        width: 706px;
        height: 30px;
    }
    .search_box > form > .search_input {
        width: 99%;
    }
    .search_icon_box {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 20px;
    }
    .search_icon_box > a { 
        width: 50px;
        height: 50px;
    }
    a > .search_icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .cancel_icon {
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    .cancel_icon > a > img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .cancel_icon > a {
        display: block;
    }
    .divide_line {
        border: 0.5px solid #ffffff;
        width: 0.01px;
        height: 30px;
        margin: 0 20px 0 20px;
        
    }
    .header_li_logo_box {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_li_logo_box > .logo {
        width: 60px;
        height: 60px;
    }
    /* 태블릿 모바일 */
    .m_header_overlay {
        display: none;
    }

    /* content */
    .main_bg_container {
        overflow: hidden;
        width: 100%;
        display: inline;
    }
    .main_bg_container > .main_bg_box {
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .main_bg_box > .main_bg_li {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .main_bg_li > a > .main_bg {
        width: 100%;
        height: 100%;
        transition: all 3s ease;
    }
    .main_bg_li > .main_bg_info_box {
        position: absolute;
        width: 30vw;
        height: 7vw;
        top: 46vw;
        margin-left: 3vw;
    }
    .main_bg_info_box > h1, h2 {
        color: #fff;
    }
    .main_bg_info_box > h1 {
        font-size: 3vw;
    }
    .main_bg_info_box > h2 {
        font-size: 1.5vw;
    }
    

    /* second main bg */
    .m_second_img_container {
        display: none;
    }
    .second_img_container {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        width: 100%;
        height: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .second_img_container > .img_box {
        width: 50%;
        height: 60vw;
    }
    .img_box > .second_img_one {
        width: 100%;
        height: 60vw;
        background-size: contain;
        transition: all 2s ease;
        border-right: 1px solid #fff;
    }
    .img_box > .second_img_one:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    .img_box > .second_img_two {
        width: 100%;
        height: 60vw;
        background-size: contain;
        transition: all 3s ease;
    }
    .img_box > .second_img_two:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    .second_img_container > .second_img_one_info_box {
        position: absolute;
        width: 40vw;
        height: 15vw;
        top: 100vw;
        margin-left: 1vw;
    }
    .second_img_one_info_box > strong {
        font-size: 2.5vw;
        color: #fff
    }
    .second_img_one_info_box > bold {
        font-size: 1.8vw;
        color: #fff;
    }
    .second_img_one_info_box > .second_img_info_btn {
        width: 10vw;
        height: 3vw;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        line-height: 2.5vw;
        margin-top: 3vw;
        background-color: transparent;
    }
    .second_img_one_info_box > .second_img_info_btn:hover {
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
    .second_img_container > .second_img_two_info_box {
        position: absolute;
        width: 40vw;
        height: 15vw;
        top: 100vw;
        left: 50vw;
        margin-left: 1vw;
    }
    .second_img_two_info_box > strong {
        font-size: 2.5vw;
        color: #000
    }
    .second_img_two_info_box > bold {
        font-size: 1.8vw;
        color: #000;
    }
    .second_img_two_info_box > .second_img_info_btn {
        width: 10vw;
        height: 3vw;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        line-height: 2.5vw;
        margin-top: 3vw;
        background-color: transparent;
    }
    .second_img_two_info_box > .second_img_info_btn:hover {
        color: #000;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #fff;
    }

    /* podcast */
    .m_bmw_podcast_container {
        display: none;
    }
    .bmw_podcast_container {
        background-color: #262626;
        width: 100%;
        height: 40vw;
        display: inline-flex;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .podcast_txt_container > .podcast_btn {
        border: 1px solid #fff;
        width: 85%;
        height: 3.5vw;
        text-align: center;
        line-height: 3vw;
        font-size: 1.5vw;
        font-weight: bold;
        color: #fff;
        margin: 2vw 0 0 2vw;
    }
    .podcast_btn:hover {
        background-color: #fff;
        color: #262626;
        cursor: pointer;
    }
    .bmw_podcast_container > .podcast_txt_container {
        width: 20%;
        height: 100%;
        border-right: 1px solid #fff;
        margin-right: 5px;
    }
    .bmw_podcast_container > .podcast_img_container {
        width: 80%;
        height: 39vw;
        display: inline;
    }
    .podcast_img_container > .podcast_img_box{
        width: 80%;
        height: 39vw;
        padding: 0;
        transition: left .5s ease-out;
        overflow: hidden;
        margin: 0 auto;
    }
    .podcast_txt_container > .podcast_txt_top {
        width: 100%;
        height: 12vw;
        display: block;
        margin-top: 1vw;
    }
    .podcast_txt_top > h1 {
        font-size: 1.8vw;
        text-align: start;
        color: #ffffff;
        padding: 0 0 0 2vw;
    }
    .podcast_txt_container > .podcast_txt_bottom {
        width: 100%;
        height: 18vw;
        padding-left: 2vw;
        margin: 10px 0 0 0;
    }
    .podcast_txt_bottom > bold {
        color: #fff;
        font-size: 1.14vw;
    }
    .podcast_img_box > .img_card {
        width: 30vw;
        height: 39vw;
        padding-top: 100%;
    }
    .img_card > a {
        width: 97%;
        height: 39vw;
        padding-top: 1vw;
    }
    .img_card > a > picture {
        width: 97%;
        height: 39vw;
        padding-top: 1vw;
    }
    .img_card > a > picture > img{
        width: 97%;
        height: 39vw;
        padding-top: 1vw;
    }
    picture > img:hover {
        transition: all .5s ease-out;
        transform: scale(1.03);
        opacity: 0.8;
        cursor: pointer;
    }
    .img_card > .img_info_box {
        position: absolute;
        top: 30vw;
        width: 100%;
        height: 120px;
        padding: 35px 35px 35px 5px;
        color: #fff;
    }
    .img_info_box > img {
        height: 2vw;
    }
    .img_info_box > h5,h4 {
        font-size: 1.1vw;
    }

    /* content txt */
    .main_txt_container {
        width: 99.85%;
        height: 11vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
    }
    .main_txt_container > .main_txt_box {
        width: 80%;
        height: 9vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_txt_box > .main_txt_1 {
        font-size: 2vw;
    }
    .main_txt_box > .main_txt_2 {
        font-size: 3vw;
        font-weight: bolder;
    }
    .main_txt_box > .main_txt_3_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_txt_3_box > .main_txt_3 {
        font-size: 1.8vw;
        color: black;
        font-weight: 900;
    }
    .main_txt_3_img_box {
        width: 30px;
        height: 30px;
        overflow:hidden;
    }
    .main_txt_3_a > .right_arrow_txt {
        width: 30px;
        height: 30px;
    }
    .main_txt_3_a > .right_arrow_txt:hover {
        cursor: pointer;
    }

    /* multiple_dis_container */
    .m_multiple_dis_container, .m_multiple_dis_container_2 {
        display: none;
    }
    .multiple_dis_container {
        border-bottom: 1px solid #fff;
        width: 100%;
        height: 80vw;
    }
    .multiple_dis_container > .multiple_dis_one_box {
        width: 100%;
        height: 50%;
    }
    .multiple_dis_one_box > iframe {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_container > .multiple_dis_two_box {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #fff;
    }
    .multiple_dis_two_box > .multiple_dis_two_img_one_box, .multiple_dis_two_img_two_box {
        width: 50%;
        height: 100%;
    }
    .multiple_dis_two_box > .multiple_dis_two_img_one_box {
        border-right: 1px solid #fff;
    }
    .multiple_dis_two_img_one_box > a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .multiple_dis_two_img_one_box > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_two_img_one_box > .multiple_dis_two_one_info_box {
        position: absolute;
        width: 20vw;
        height: 4vw;
        top: 240vw;
        left: 1vw;
    }
    .multiple_dis_two_one_info_box > h1 {
        font-size: 1.8vw;
        color: #fff;
    }
    .multiple_dis_two_img_two_box > a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .multiple_dis_two_img_two_box > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_two_img_two_box > .multiple_dis_two_two_info_box {
        position: absolute;
        width: 30vw;
        height: 5vw;
        top: 240vw;
        left: 50.5vw;
    }
    .multiple_dis_two_two_info_box > h1 {
        font-size: 1.8vw;
        color: #fff;
    }
    .multiple_dis_container_2 {
        width: 100%;
        height: 40vw;
        display: flex;
        flex-direction: row;
    }
    .multiple_dis_container_2 > .multiple_dis_2_one_box {
        width: 50%;
        height: 100%;
        display: block;
        border-top: 1px solid #fff;
    }
    .multiple_dis_2_one_box > .multiple_dis_2_top {
        width: 100%;
        height: 50%;
        position: relative;
        border-bottom: 1px solid #fff;
    }
    .multiple_dis_2_top > a {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_top > iframe {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_top > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_one_box > .multiple_dis_2_bottom {
        width: 100%;
        height: 50%;
        position: relative;
        border-top: 1px solid #fff;
    }
    .multiple_dis_2_bottom > a {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_bottom > iframe {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_bottom > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_bottom > .multiple_dis_2_one_info_box {
        position: absolute;
        top: 70%;
        left: 1vw;
        color: #fff;
    }
    .multiple_dis_container_2 > .multiple_dis_2_two_box {
        width: 60%;
        height: 100%;
        display: block;
        position: relative;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
    }
    .multiple_dis_2_two_box > a {
        width: 100%;
        height: 100%;
        display: block;
    }
    .multiple_dis_2_two_box > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_two_box > .multiple_dis_2_two_info_box {
        position: absolute;
        top: 85%;
        left: 1vw;
        color: #fff;
    }

    /* footer */
    .bmw_footer_container {
        width: 100%;
        height: auto;
        background-color: #262626;
        padding: 2vw 0 2vw 0;
        border-top: 3px solid #fff;
    }
    .bmw_footer_container > .bmw_footer_lang_nav {
        width: 60%;
        height: 15%;
        margin: 0 auto;
    }
    .bmw_footer_lang_nav > .bmw_footer_lang_nav_ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .bmw_footer_lang_nav_ul > .bmw_footer_lang_nav_li {
        margin: 1vw 2vw 0 0;
    }
    .bmw_footer_lang_nav_li:not(.active) > a {
        color: #8e8e8e;
    }
    .bmw_footer_container > .bmw_footer_link_container {
        width: 60%;
        height: 80%;
        margin: 5vw auto;
        display: flex;
        justify-content: space-between;
    }
    .bmw_footer_link_container > .bmw_footer_link_box {
        width: 20%;
        height: 100%;
    }
    .bmw_footer_link_box > .bmw_footer_link_title_box {
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        height: 10%;
        padding: 1.5vw 1.5vw 1.5vw 0;
        text-align: start;
        line-height: 0vw;
        color: #fff;
    }
    .bmw_footer_link_title_box > h5 {
        font-size: 0.85vw;
        color: #fff;
    }
    .bmw_footer_link_box > .bmw_footer_link_nav {
        width: 100%;
        height: 75%;
        margin-top: 2vw;
    }
    .bmw_footer_link_nav > .bmw_footer_link_ul {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .bmw_footer_link_ul > .bmw_footer_link_li {
        padding: 0.3vw 0  0.3vw 0;
    }
    .bmw_footer_link_li > a {
        color: #8e8e8e;
    }
} 
  
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    /* header */
    .header_box {
        width: 100vw;
        height: 78px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
    }
    .header_box > .header_ul {
        display: none;
    }
    .header_box > .header_search_ul {
        display: none;
    }
    .header_box > .m_header_ul {
        width: 100vw;
        height: 78px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0 0 0 40px;
    }
    .header_ul > .header_li {
        display: none;
    }
    .m_header_ul > .tab_menu_li {
        display: block;
        width: 30px;
        height: 30px;
    }
    .tab_menu_li > .tab_menu_a {
        display: block;
        width: 30px;
        height: 30px;
    }
    .tab_menu_a > .tab_menu {
        display: block;
        width: 30px;
        height: 30px;
    }
    .search_box {
        display: none;
    }
    .search_icon_box {
        display: none;
    }
    .header_li_logo_box {
        display: none;
    }
    /* 태블릿, 모바일 */
    .m_header_overlay {
        position: fixed;
        background: #0066B1;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
        z-index: 2;
    }
    .m_header_li {
        margin: 30px 0;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    .m_header_li > a {
        font-size: 40px;
        opacity: 0.75;
        transition: opacity 0.2s ease;
    }
    .m_header_li > a:hover {
        opacity: 1;
    }
    .m_header_overlay {
        width: 100%;
        opacity: 1;
    }
    .m_header_cancel_img {
        width: 30px;
        height: 30px;
        opacity: 0.75;
        transition: opacity 0.2s ease;
    }
    .m_header_cancel_img:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* content */
    /* .main_bg_box {
        width: 100vw;
        height: 680px;
        display: flex;
        justify-content: center;
    }
    .main_bg {
        width: 90vw;
        height: 680px;
        background-size: contain;
    } */

    /* content */
    .main_bg_container {
        width: 100vw;
        height: 50vw;
        overflow: hidden;
        border-bottom: 1px solid #fff;
    }
    .main_bg_container > .main_bg_box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        transition: all 0.85s ease;
        padding: 0;
    }
    .main_bg_box > .main_bg_li {
        width: 100%;
        height: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .main_bg_li > a {
        width: 100%;
        height: 100%;
    }
    .main_bg_li > a > img {
        width: 100%;
        height: 100%;
    }
    .main_bg_li > .main_bg_info_box {
        position: absolute;
        width: 30vw;
        height: 7vw;
        top: 40vw;
        margin-left: 3vw;
    }
    .main_bg_info_box > h1, h2 {
        color: #fff;
    }
    .main_bg_info_box > h1 {
        font-size: 3vw;
    }
    .main_bg_info_box > h2 {
        font-size: 1.5vw;
    }

    /* second main bg */
    .m_second_img_container {
        display: none;
    }
    .second_img_container {
        border-bottom: 1px solid #fff;
        width: 100vw;
        height: 65vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .second_img_container > .img_box {
        width: 100%;
        height: 100%;
    }
    .img_box > .second_img_one {
        width: 100%;
        height: 100%;
        transition: all 2s ease;
        border-right: 1px solid #fff;
    }
    .img_box > .second_img_two {
        width: 100%;
        height: 100%;
        transition: all 3s ease;
    }
    .second_img_container > .second_img_one_info_box {
        position: absolute;
        width: 40vw;
        height: 13vw;
        top: 50vw;
        margin-left: 1vw;
    }
    .second_img_one_info_box > strong {
        font-size: 2.5vw;
        color: #fff
    }
    .second_img_one_info_box > bold {
        font-size: 1.8vw;
        color: #fff;
    }
    .second_img_one_info_box > .second_img_info_btn {
        width: 10vw;
        height: 3vw;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        line-height: 2.5vw;
        margin-top: 3vw;
        background-color: transparent;
    }
    .second_img_container > .second_img_two_info_box {
        position: absolute;
        width: 40vw;
        height: 13vw;
        top: 50vw;
        left: 50vw;
        margin-left: 1vw;
    }
    .second_img_two_info_box > strong {
        font-size: 2.5vw;
        color: #000
    }
    .second_img_two_info_box > bold {
        font-size: 1.8vw;
        color: #000;
    }
    .second_img_two_info_box > .second_img_info_btn {
        width: 10vw;
        height: 3vw;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        line-height: 2.5vw;
        margin-top: 3vw;
        background-color: transparent;
    }

    /* podcast */
    .m_bmw_podcast_container {
        display: none;
    }
    .bmw_podcast_container {
        background-color: #262626;
        display: flex;
        width: 100vw;
        height: 60vw;
        border-bottom: 1px solid #fff;
    }
    .podcast_txt_container > .podcast_btn {
        border: 1px solid #fff;
        width: 30vw;
        height: 5vw;
        margin-top: 4vw;
        text-align: center;
        line-height: 4vw;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }
    .podcast_btn:hover {
        background-color: #fff;
        color: #262626;
        cursor: pointer;
    }
    .bmw_podcast_container > .podcast_txt_container {
        width: 100%;
        height: 60vw;
        border-right: 1px solid #fff;
        padding-right: 1vw;
    }
    .bmw_podcast_container > .podcast_img_container {
        position: relative;
        width: 60vw;
        height: 56vw;
        margin: 2% 0 0 6vw;
    }
    .podcast_img_container > .podcast_img_box{
        width: 100%;
        height: 56vw;
        padding: 0;
        transition: left .5s ease-out;
        overflow: hidden;
    }
    .podcast_txt_container > .podcast_txt_top {
        width: 100%;
        height: 5vw;
    }
    .podcast_txt_top > h1 {
        font-size: 3vw;
        text-align: start;
        color: #ffffff;
    }
    .podcast_txt_container > .podcast_txt_bottom {
        width: 100%;
        height: 32vw;
        margin-top: 10vw;
    }
    .podcast_txt_bottom > bold {
        color: #fff;
        font-size: 2.2vw;
    }
    .podcast_img_box > .img_card {
        width: 100%;
        height: 56vw;
    }
    .img_card > a > picture > img {
        width: 53vw;
        height: 56vw;
        margin: 0;
        transition: all .5s ease-out;
    }
    .img_card > .img_info_box {
        position: absolute;
        top: 43vw;
        width: 40vw;
        height: 15vw;
        color: #fff;
        font-size: 2.5vw;
        margin-left: 3vw;
    }
    .img_info_box > img {
        height: 30px;
    }

    /* content txt */
    .main_txt_container {
        width: 100%;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        margin: 3vw 0 3vw 0;
    }
    .main_txt_container > .main_txt_box {
        width: 80%;
        height: 20vw;
        text-align: center;
    }
    .main_txt_box > .main_txt_1 {
        font-size: 4vw;
    }
    .main_txt_box > .main_txt_2 {
        font-size: 6vw;
        font-weight: bolder;
    }
    .main_txt_box > .main_txt_3_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_txt_3_box > .main_txt_3 {
        font-size: 5vw;
        color: black;
        font-weight: 900;
    }
    .main_txt_3_img_box {
        width: 4vw;
        height: 4vw;
        overflow:hidden;
    }
    .main_txt_3_a > .right_arrow_txt {
        width: 100%;
        height: 100%;
    }

    /* multiple_dis_container */
    .m_multiple_dis_container, .m_multiple_dis_container_2 {
        display: none;
    }
    .multiple_dis_container {
        border-bottom: 1px solid #fff;
        width: 100vw;
        height: 100vw;
    }
    .multiple_dis_container > .multiple_dis_one_box {
        width: 100%;
        height: 50%;
    }
    .multiple_dis_one_box > iframe {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_container > .multiple_dis_two_box {
        width: 100%;
        height: 50vw;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .multiple_dis_two_box > .multiple_dis_two_img_one_box, .multiple_dis_two_img_two_box {
        width: 50%;
        height: 100%;
    }
    .multiple_dis_two_box > .multiple_dis_two_img_one_box {
        border-right: 1px solid #fff;
    }
    .multiple_dis_two_img_one_box > a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .multiple_dis_two_img_one_box > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_two_one_info_box {
        width: 20vw;
        height: 7vw;
        position: absolute;
        top: 80%;
        left: 1%;
    }
    .multiple_dis_two_one_info_box > h1 {
        font-size: 1.8vw;
        color: #fff;
    }
    .multiple_dis_two_img_two_box > a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .multiple_dis_two_img_two_box > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_two_two_info_box {
        width: 30vw;
        height: 7vw;
        position: absolute;
        top: 80%;
        left: 51%;
        z-index: 1;
    }
    .multiple_dis_two_two_info_box > h1 {
        font-size: 1.8vw;
        color: #fff;
    }
    .multiple_dis_container_2 {
        width: 100vw;
        height: 40vw;
        display: flex;
        flex-direction: row;
    }
    .multiple_dis_container_2 > .multiple_dis_2_one_box {
        width: 40%;
        height: 100%;
        display: block;
        position: relative;
    }
    .multiple_dis_2_one_box > .multiple_dis_2_top {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid #fff;
    }
    .multiple_dis_2_top > a {
        width: 100%;
        height: 50%;
    }
    .multiple_dis_2_top > iframe {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_one_box > .multiple_dis_2_bottom {
        width: 100%;
        height: 50%;
    }
    .multiple_dis_2_bottom > a {
        width: 100%;
        height: 50%;
    }
    .multiple_dis_2_bottom > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_bottom > .multiple_dis_2_one_info_box {
        position: absolute;
        top: 10vw;
        left: 1vw;
        color: #fff;
    }
    .multiple_dis_container_2 > .multiple_dis_2_two_box {
        width: 60vw;
        height: 40vw;
        display: block;
        position: relative;
        border-left: 1px solid #fff;
    }
    .multiple_dis_2_two_box > a {
        width: 100%;
        height: 100%;
        display: block;
    }
    .multiple_dis_2_two_box > a > img {
        width: 100%;
        height: 100%;
    }
    .multiple_dis_2_two_box > .multiple_dis_2_two_info_box {
        position: absolute;
        top: 75%;
        left: 1%;
        color: #fff;
    }

    /* footer */
    .bmw_footer_container {
        width: 100%;
        height: auto;
        background-color: #262626;
        padding: 2vw 0 2vw 0;
        border-top: 1px solid #fff;
        
    }
    .bmw_footer_container > .bmw_footer_lang_nav {
        width: 60%;
        height: 15%;
        margin: 0 auto;
    }
    .bmw_footer_lang_nav > .bmw_footer_lang_nav_ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .bmw_footer_lang_nav_ul > .bmw_footer_lang_nav_li {
        margin: 1vw 2vw 0 0;
    }
    .bmw_footer_lang_nav_li:not(.active) > a {
        color: #8e8e8e;
    }
    .bmw_footer_container > .bmw_footer_link_container {
        width: 100%;
        height: 80%;
        margin-top: 5vw;
        display: flex;
        justify-content: space-between;
    }
    .bmw_footer_link_container > .bmw_footer_link_box {
        width: 20%;
        height: 100%;
    }
    .bmw_footer_link_box > .bmw_footer_link_title_box {
        border-bottom: 1px solid #8e8e8e;
        width: 100%;
        height: 10%;
        padding: 1.5vw 1.5vw 1.5vw 0;
        text-align: start;
        line-height: 0vw;
        color: #fff;
        margin-left: 1vw;
    }
    .bmw_footer_link_title_box > h5 {
        font-size: 1.5vw;
        color: #fff;
    }
    .bmw_footer_link_box > .bmw_footer_link_nav {
        width: 100%;
        height: 75%;
        margin: 2vw 0 0 1vw;
    }
    .bmw_footer_link_nav > .bmw_footer_link_ul {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .bmw_footer_link_ul > .bmw_footer_link_li {
        padding: 0.5vw 0  0.5vw 0;
    }
    .bmw_footer_link_li > a {
        color: #8e8e8e;
    }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    /* header */
    .header_box {
        width: 100vw;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1;
    }
    .header_box > .header_ul {
        display: none;
    }
    .header_box > .m_header_ul {
        padding: 0;
        margin: 5vw 0 0 5vw;
    }
    .header_ul > .header_li {
        display: none;
    }
    .header_ul > .tab_menu_li {
        display: block;
        width: 20px;
        height: 20px;
    }
    .tab_menu_li > .tab_menu_a {
        display: block;
        width: 20px;
        height: 20px;
    }
    .tab_menu_a > .tab_menu {
        display: block;
        width: 20px;
        height: 20px;
    }
    .search_box {
        display: none;
        width: 662px;
        height: 30px;
    }
    .search_icon_box {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 20px;
        display: none;
    }
    .header_li_logo_box {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .m_header_overlay {
        position: fixed;
        background: #0066B1;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
        z-index: 2;
    }
    .m_header_li {
        margin: 30px 0;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    .m_header_li > a {
        font-size: 40px;
        opacity: 0.75;
        transition: opacity 0.2s ease;
    }
    .m_header_li > a:hover {
        opacity: 1;
    }
    .m_header_overlay {
        width: 100%;
        opacity: 1;
    }
    .m_header_cancel_img {
        width: 30px;
        height: 30px;
        opacity: 0.75;
        transition: opacity 0.2s ease;
    }
    .m_header_cancel_img:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* content */
    .main_bg_container {
        overflow: hidden;
        width: 100vw;
        height: 55vw;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .main_bg_container > .main_bg_box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        transition: all 0.85s ease;
        padding: 0;
    }
    .main_bg_box > .main_bg_li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .main_bg_li > a > img {
        width: 100%;
        height: 100%;
    }
    .main_bg_li > .main_bg_info_box {
        position: absolute;
        width: 50vw;
        height: 9vw;
        top: 42vw;
        margin-left: 3vw;
    }
    .main_bg_info_box > h1, h2 {
        color: #fff;
    }
    .main_bg_info_box > h1 {
        font-size: 5vw;
    }
    .main_bg_info_box > h2 {
        font-size: 4vw;
    }

    /* second main bg */
    .second_img_container {
        width: 100vw;
        height: 100vw;
        border-bottom: 1px solid #fff;
        display: none;
    }
    .m_second_img_container {
        width: 100vw;
        height: 200vw;
        display: block;
        border-bottom: 1px solid #fff;
    }
    .m_second_img_container > .m_img_box {
        width: 100%;
        height: 100%;
    }
    .m_img_box > .m_img_one_box {
        width: 100%;
        height: 50%;
        position: relative;
    }
    .m_img_one_box > img{
        width: 100%;
        height: 100%;
    }
    .m_img_box > .m_img_two_box {
        width: 100%;
        height: 50%;
        position: relative;
    }
    .m_img_two_box > img{
        width: 100%;
        height: 100%;
    }
    .m_img_one_box > .m_img_one_info_box {
        position: absolute;
        top: 85vw;
        width: 40vw;
        height: 18vw;
        left: 3vw;
    }
    .m_img_one_info_box > h1 {
        font-size: 5vw;
        color: #fff;
    }
    .m_img_two_box > .m_img_two_info_box {
        position: absolute;
        top: 85vw;
        width: 30vw;
        height: 20vw;
        left: 3vw;
    }
    .m_img_two_info_box > h1 {
        font-size: 5vw;
    }

    /* podcast */
    .bmw_podcast_container {
        display: none;
    }
    .m_bmw_podcast_container {
        background-color: #262626;
        width: 100vw;
        height: 242vw;
        border-bottom: 1px solid #fff;
    }
    .m_bmw_podcast_container > .m_bmw_podcast_txt_container {
        width: 100%;
        height: 45%;
    }
    .m_bmw_podcast_txt_container > .m_podcast_txt_top {
        width: 100%;
        height: 35%;
        margin-left: 3vw;
    }
    .m_bmw_podcast_txt_container > .m_podcast_txt_bottom {
        width: 100%;
        height: 45%;
        margin: 1.5vw 0 0 3vw;
    }
    .m_podcast_txt_top > h1 {
        color: #fff;
        font-size: 9.75vw;
        width: 97%;
        margin-left: 1vw;
    }
    .m_podcast_txt_bottom > bold {
        color: #fff;
        font-size: 5.1vw;
    }
    .m_bmw_podcast_txt_container > .m_podcast_btn {
        border: 1px solid #fff;
        width: 90vw;
        height: 13vw;
        margin: 5vw 2.5vw 5vw 2.5vw;
        text-align: center;
        line-height: 12vw;
        font-size: 5vw;
        font-weight: bold;
        color: #fff;
    }
    .m_bmw_podcast_container > .m_podcast_img_container {
        width: 100%;
        height: 55%;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .m_podcast_img_container > .m_podcast_img_box {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .m_podcast_img_box > .m_img_card, img {
        width: 100%;
        height: 100%;
    }
    .m_img_card > .m_img_info_box {
        position: absolute;
        width: 80vw;
        height: 25vw;
        color: #fff;
        top: 105vw;
        font-size: 4.5vw;
        padding: 2vw;
    }
    .m_img_info_box > img {
        height: 40px;
        width: 40px;
    }

    /* content txt */
    .main_txt_container {
        width: 100vw;
        height: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        margin: 2vw 0 2vw 0;
    }
    .main_txt_container > .main_txt_box {
        width: 80%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .main_txt_box > .main_txt_1 {
        font-size: 6vw;
    }
    .main_txt_box > .main_txt_2 {
        font-size: 8vw;
        font-weight: bolder;
    }
    .main_txt_box > .main_txt_3_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_txt_3_box > .main_txt_3 {
        font-size: 4.5vw;
        color: black;
        font-weight: 900;
    }
    .main_txt_3_a {
        width: 25px;
        height: 25px;
        overflow:hidden;
        margin-right: 5px;
    }
    .main_txt_3_a > .right_arrow_txt {
        width: 25px;
        height: 25px;
    }

    /* mobile multiple_dis_container */
    .multiple_dis_container, .multiple_dis_container_2 {
        display: none;
    }
    .m_multiple_dis_container {
        width: 100vw;
        height: 210vw;
        border-bottom: 1px solid #fff;
    }
    .m_multiple_dis_container_2 {
        width: 100vw;
        height: 213vw;
    }
    .m_multiple_dis_container > .m_multiple_dis_box_one, .m_multiple_dis_box_two {
        width: 100%;
        height: 33.3%;
        position: relative;
        border-bottom: 1px solid #fff;
    }
    .m_multiple_dis_box_three {
        width: 100%;
        height: 33.4%;
        
        position: relative;
    }
    .m_multiple_dis_box_one > iframe {
        width: 100%;
        height: 100%;
    }
    .m_multiple_dis_box_two > img {
        width: 100%;
        height: 100%;
    }
    .m_multiple_dis_box_three > img {
        width: 100%;
        height: 100%;
    }
    .m_multiple_dis_box_two > .multiple_dis_one_info_box {
        position: absolute;
        left: 3vw;
        top: 53vw;
        color: #fff;
    }
    .m_multiple_dis_box_three > .multiple_dis_two_info_box {
        position: absolute;
        left: 3vw;
        top: 53vw;
        color: #fff;
    }
    .m_multiple_dis_container_2 > .m_multiple_dis_box_2_one {
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #fff;
    }
    .m_multiple_dis_container_2 > .m_multiple_dis_box_2_two {
        width: 100%;
        height: 33.3%;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .m_multiple_dis_container_2 > .m_multiple_dis_box_2_three {
        width: 100%;
        height: 33.7%;
        position: relative;
    }
    .m_multiple_dis_box_2_one > iframe {
        width: 100%;
        height: 100%;
    }
    .m_multiple_dis_box_2_two > img {
        width: 100%;
        height: 100%;
    }
    .m_multiple_dis_box_2_three > img {
        width: 100%;
        height: 100%;
    }
    .m_multiple_dis_box_2_two > .multiple_dis_two_one_info_box {
        position: absolute;
        left: 3vw;
        top: 53vw;
        color: #fff;
    }
    .m_multiple_dis_box_2_three > .multiple_dis_two_two_info_box {
        position: absolute;
        left: 3vw;
        top: 53vw;
        color: #fff;
    }


    /* footer */
    .bmw_footer_container {
        width: 100vw;
        height: auto;
        background-color: #262626;
        padding: 5vw 0 5vw 0;
        border-top: 1px solid #fff;
    }
    .bmw_footer_container > .bmw_footer_lang_nav {
        width: 65vw;
        height: 5%;
        margin: 0 auto;
    }
    .bmw_footer_lang_nav > .bmw_footer_lang_nav_ul {
        width: 60vw;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }
    .bmw_footer_lang_nav_ul > .bmw_footer_lang_nav_li {
        margin: 1vw 1.5vw 0 0;
    }
    .bmw_footer_lang_nav_li:not(.active) > a {
        color: #8e8e8e;
    }
    .bmw_footer_container > .bmw_footer_link_container {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bmw_footer_link_container > .bmw_footer_link_box:nth-child(1) {
        width: 55vw;
        height: 40%;
        margin: 5vw 0 0 3vw;
    }
    .bmw_footer_link_container > .bmw_footer_link_box:nth-child(2) {
        width: 55vw;
        height: 35%;
        margin: 5vw 0 0 3vw;
    }
    .bmw_footer_link_container > .bmw_footer_link_box:nth-child(3) {
        width: 55vw;
        height: 20%;
        margin: 5vw 0 0 3vw;
    }
    .bmw_footer_link_container > .bmw_footer_link_box:nth-child(4) {
        width: 55vw;
        height: 20%;
        margin: 5vw 0 0 3vw;
    }
    .bmw_footer_link_box > .bmw_footer_link_title_box {
        border-bottom: 1px solid #8e8e8e;
        width: 45vw;
        height: 5vw;
        padding: 0;
        text-align: start;
        line-height: 0vw;
        color: #fff;
        margin: 1.5vw 1.5vw 1.5vw 3vw;
        line-height: 2.5vw;
    }
    .bmw_footer_link_title_box > h5 {
        font-size: 3.3vw;
        color: #fff;
    }
    .bmw_footer_link_box:nth-child(1) > .bmw_footer_link_nav {
        width: 50vw;
        height: 83%;
        margin-left: 3vw;
    }
    .bmw_footer_link_box:nth-child(2) > .bmw_footer_link_nav {
        width: 50vw;
        height: 80%;
        margin-left: 3vw;
    }
    .bmw_footer_link_box:nth-child(3) > .bmw_footer_link_nav {
        width: 50vw;
        height: 70%;
        margin-left: 3vw;
    }
    .bmw_footer_link_box:nth-child(4) > .bmw_footer_link_nav {
        width: 50vw;
        height: 65%;
        margin-left: 3vw;
    }
    .bmw_footer_link_nav > .bmw_footer_link_ul {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .bmw_footer_link_ul > .bmw_footer_link_li {
        padding: 0.5vw 0  0.5vw 0;
    }
    .bmw_footer_link_li > a {
        color: #8e8e8e;
    }
}